<% if list.poster.key %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path list.poster.key %>)">
<% elsif !list.movies.count.zero? %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.movies.first.poster_url %>)">
<% else %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRkl9qnArQ7Q-2Kw1u9OOalX6S42BLBXMM3x2xCkM-yA&s)">
<% end %>
  <%= link_to list_path(list), class: 'card-category a' do %>
    <%= list.name %>
  <% end %>
</div>
