<div class="g-col-2">
  <div class="card text-bg-dark">
    <% if list.poster.key %>
      <%= cl_image_tag list.poster.key, height: 300, crop: :fill %>
    <% elsif !list.movies.count.zero? %>
      <%= image_tag list.movies.first.poster_url, alt: list.name, style: "display: block, max-height: 100px, width: auto", class: 'card-img center' %>
    <% end %>
    <div class="card-img-overlay inline">
      <%= link_to list_path(list) do %>
        <h5 class='card-title', style='vertical-align: middle;'><%= list.name %></h5>
      <% end %>
    </div>
  </div>
</div>
