<div class="g-col-4">
  <div class="card text-bg-dark">
    <%= image_tag list.movies.first.poster_url, alt: list.name, width: '8rem', class: 'card-img center' %>
    <div class="card-img-overlay">
      <%= link_to list_path(list) do %>
        <h5 class='card-title'><%= list.name %></h5>
      <% end %>
    </div>
  </div>
</div>
