<div class="container">
  <h1>Bookmark <%= @bookmark.id %></h1>
  <div>
    Comment : <%= @bookmark.comment %>
  </div>
  <div>
    For movie : <%= @bookmark.movie.title %>
  </div>
  <div>
    In list : <%= @bookmark.list.name %>
  </div>
</div>
